body {
    margin: 0px;
    background: #ccc;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
    margin-top: 1rem;
  }
  
  input {
    display: block;
  }
  
  .button-creator {
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    grid-template-columns: 220px 1fr;
  }
  
  #controles {
    font-family: 'IBM Plex Mono', monospace;
    font-size: .875rem;
    background: #eee;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
  }
  
  .css {
    font-family: 'IBM Plex Mono', monospace;
    color: #333;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .css span {
    display: block;
    margin-bottom: .5rem;
  }